* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.navBar h1 {
    font-size: 24px;
    color: #f9faf8;
}

.navBar a {
    text-decoration: none;
    color: #a5a8b1;
    font-size: 18px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
    gap: 30px;
}

.content h1 {
    font-size: 48px;
    color: #f9faf8;
}

.content p {
    color: #a5a8b1;
    font-size: 18px;
}

.content button {
    background-color: #3882f6;
    color: #E5E7EB;
    margin-top: 10px;
    padding: 10px 35px;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    font-weight: 800;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 40px;
    margin-bottom: 5%;
}

.information ul {
    margin-left: 15%;
    margin-right: 15%;
}

.information img {
    flex: none;
    border: 3px solid #3882f6;
    border-radius: 10px;
}
.information h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.information p {
    text-align: center;
    color: #676d77;
    margin-top: 5%;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.quoteContainer {
    margin-left: 15%;
    margin-right: 15%;

}

.quote h3 {
    font-weight: 100;
    font-style: italic;
    font-size: 32px;
    color: #1F2937;
    margin: 0;
}

.quote p {
    display: flex;
    justify-content: flex-end;

    font-weight: bold;
    margin: 0;
}

.callToAction {
    background-color: #3882f6;
    color: white;
    margin: 80px 15%;
    border-radius: 10px;
    display: flex;
    padding: 40px;
    justify-content: space-around;
}

.callToAction button {
    margin: 0;
    padding: 0;
    border: 3px solid #E5E7EB;
    border-radius: 5px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.callToAction p {
    color: #E5E7Eb;
    font-size: 13px;
}

footer  {
    background-color: #1F2937;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E5E7EB
}