body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

img {
    flex: none;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.images {
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    margin: 0;
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 10px 35px;
    border-radius: 5px;
    border: 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}